@charset 'utf-8';
@import "../utils/variables";

@mixin blind {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip-path: polygon(0 0, 0 0, 0 0);
}

@mixin ellipsis($line: 1, $wordBreak: break-word) {
	@if $line == 1 {
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else if $line > 1 {
		display: box;
		word-break: $wordBreak;
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
	}

	overflow: hidden;
}

@mixin pressed-effect(
	$radius: 50px, $color: $blue-pale-gray
){
	position: relative;
	
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: $radius;
		background-color: rgb($color, 0.2);
		opacity: 0;
		pointer-events: none;
	}

  &:active:not(:disabled) {
		transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
		transform: scale(0.95);

    &::before {
      opacity: 1;
    }
  }
}