@charset 'utf-8';

$black-armor-wash: #030303;
$grey-old-silver: #838383;
$grey-codex: #9c9b9e;
$white-aircraft: #eef2f7;
$blue-pale-gray: #e4e8f4;
$blue-ceil: #8fa2ca;
$green-pond-edge: #b6c7b8;
$green-savannah-moss: #49533d;
