@import "../../scss/utils";

@mixin button($border-color) {
  @include pressed-effect;

  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: 2px solid $border-color;
  border-radius: 50px;
  color: $black-armor-wash;
  font-size: 16px;

  &:disabled {
    opacity: 0.5;
  }
}

.wrap-green {
  @include button($green-pond-edge);
}

.wrap-blue {
  @include button($blue-ceil);
}