@import "../../scss/utils";

.wrap {
  overflow: hidden;
  height: 44px;
}

.title {
  padding: 0 8px;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  color: $black-armor-wash;
  color: $blue-ceil;
  font-size: 24px
}
