@import "../../scss/utils";

.wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.input {
  position: absolute;
  inset: 0;
}

.label {
  position: relative;
  text-align: center;
}

.text {
  display: block;
  color: $grey-old-silver;
  font-size: 14px;
}

.img-icon {
  .input:checked + .label & {
    opacity: 0.5;
  }
}

.img-check {
  display: none;

  .input:checked + .label & {
    position: absolute;
    top: 0;
    display: block;
  }
}